.cover__subtitle {
  margin: 0 auto 0 auto;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-align: center;
  z-index: 1;
}
@media (max-width:520px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}

/* @media (max-width:320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
} */
