.footer__link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
}
@media (max-width:320px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
.footer__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width .3s ease;
}
.footer__link:hover::after {
  width: 100%;
}
